<ul>
    <% businesses.each_with_index do |business, i| %>
        <li <%= 'class="stores-last"' if (i+1).modulo(3) == 0 %>>
            <% #TODO fix this url to be more search friendly. %>
            <%= link_to(image_tag(business.logo_path, :width => 222, :height => 100, :alt => business.name), business_detail_path_for_type(business)) %>
            <h2><%= link_to business.name, business_detail_path_for_type(business) %></h2>
            <p><%#TODO remove debug statement= "[#{business.class.model_name}] " %><%= business.description %></p>
        </li>
    <% end %>
</ul>