<% remote_form_for :business, business, :url => {:action => 'update_business_details', :id => business}, :before => "CKEDITOR.instances.business_details.updateElement()" do |f| %>
    <%= f.text_area :details %>
    <%= f.submit 'Save' %>
<% end %>