<% remote_form_for :business, business, :url => {:action => 'update_business_hours', :id => business}, :before => "CKEDITOR.instances.business_hours.updateElement()" do |f| %>
    <%= f.text_area :hours %>
    <%= f.submit 'Save' %>
<% end %>