<% remote_form_for :business, business, :url => {:action => 'update_hotel_amenities', :id => business}, :before => "CKEDITOR.instances.business_amenities.updateElement()" do |f| %>
    <%= f.text_area :amenities %>
    <%= f.submit 'Save' %>
<% end %>