<div class="modal">
  <h2>Manage Businesses</h2>
  <table>
    <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Suite</th>
          <th>Location</th>
          <th>Enabled</th>
          <th>Last Modified</th>
          <th>Actions</th>
        </tr>
    </thead>
    <% @businesses.each do |business| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= business.name %></td>
          <td><%= business.type %></td>
          <td><%= business.suite %></td>
          <td><%= business.location %></td>
          <td id="<%= "business_#{business.id}_status" %>" style="text-align: center;">
            <%= image_tag 'accept.png' if business.enabled? %>
          </td>
          <td><%= business.updated_at.strftime('%b %d, %y %I:%M %p') %></td>
          <td>
            <%= link_to 'edit', business_detail_path_for_type(business) %>
            <%= link_to_remote 'enable', :url => admin_toggle_active_path(:id => business.id, :status => 'true'), :confirm => "Are You sure you want to enable #{business.name}?" if not business.enabled? %>
            <%= link_to_remote 'disable', :url => admin_toggle_active_path(:id => business.id, :status => 'false'), :confirm => "Are You sure you want to disable #{business.name}?" if business.enabled? %></td>
        </tr>
    <% end %>
        <tfoot>
            <tr>
              <td colspan="8" style="text-align: right;"><%= link_to 'add business', admin_new_business_path %></td>
            </tr>
        </tfoot>
  </table>
</div>
