<div class="modal">
    <h1>Create New Business</h1>

    <% form_for @business, :url => {:controller => :businesses, :action => :admin_create_business} do |f| %>
      <%= f.error_messages %>
      <%= f.label :name %><br />
        <%= f.text_field :name %><br />
        <br />
      <p>
        <%= f.label :type %><br />
        <select name="type">
          <option>Shop</option>
          <option>Restaurant</option>
          <option>Hotel</option>
        </select>
      </p>
      <p>
        <%= f.label :suite %><br />
        <%= f.text_field :suite %>
      </p>
      <p>
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </p>

      <p>
        <%= f.label :enabled %><br />
        <%= f.check_box :enabled %>
      </p>

      <%= f.submit "Update" %> <%= f.submit 'Cancel' %>
    <% end %>
</div>
