<% if cms_enabled(@business) %>
    <% content_for :head do %>
        <%= javascript_include_tag 'modalbox' %>
        <%= javascript_include_tag 'ckeditor/ckeditor_basic' %>
        <%#= calendar_date_select_includes %>
    <% end %>
<% end %>
<div id="modalcontent" style="display: none;"></div>
<div id="main">
    <div class="wrapper">
      <% if cms_enabled(@business) %>
          <div class="contextual-admin-menu">
            <ul>
                <li><strong><%= @business.name %> Options:</strong> </li>
                <% if @business.instance_of?(Shop) or @business.instance_of?(Restaurant) %>
                    <li><%= link_to_remote 'Categories', { :url => { :controller => 'categories', :action => 'edit_business_categories', :business_id => @business }}, :href => url_for(:controller => 'categories', :action => 'edit_business_categories', :business_id => @business) %></li>
                <% end %>
            </ul>
          </div>
       <% end %>
       <div id="store">
            <%= link_to '&laquo; Back to Stores', back_to_stores_by_type(@business), :class => 'store-back' %>
            <h1><%= h_business_name @business.name %></h1>
            <div class="store-info">
                <dl>
                   <% if (!@business.phone.nil? && !@business.phone.empty?) %>
                        <dt>Phone:</dt>
                        <dd><%= number_to_phone(@business.phone, :area_code => true) %></dd>
                    <% end %>
                    <% if (!@business.url.nil? && !@business.url.empty?) %>
                        <dt>Web:</dt>
                        <dd><%= link_to @business.url, @business.url %></dd>
                    <% end %>
                    <% if !@business.suite.nil? %>
                    <dt>Location:</dt>
                    <dd><%= "#{@business.suite[0,1].to_i.ordinalize} Floor, Suite #{@business.suite}" %></dd>
                    <% end %>
                    <% if (!@business.location.nil? && !@business.location.empty?) %>
                    <dt>Address:</dt>
                    <dd><%= @business.location %></dd>
                    <% end %>
                </dl>
                <div class="clear"></div>
            </div>
          <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&pub=xa-4af0716c5a353c5a"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4af0716c5a353c5a"></script>

            <br />
            <%= link_to_remote('Edit Business Info', :url => {:action => 'edit_business_info', :id => @business}, :html => {:class => 'admin-edit-link'}) if cms_enabled(@business) %>
        </div>
        <div id="store-gallery-wrap">
        <div id="store-gallery">
            <% @business.business_gallery.slides.each do |image| %>
                <%= image_tag image.doc.url, :width => 545, :height => 304 %>  
            <% end %>
        </div>
        <%= link_to 'Edit Gallery', edit_slideshow_path(@business.business_gallery), :class => 'admin-edit-link' if cms_enabled(@business) %>
        </div>
        <div class="clear"></div>
    </div>
    <div id="store-tabsection">
        <a name="tab-top"></a>
        <div class="wrapper">
            <div class="store-tabs">
                <ul>
                    <li class="store-tabs-active"><a href="#tab-top" class="store-tabs-details"><span>Details</span></a></li>
                    <% if @business.instance_of?(Restaurant) and (@business.has_menus || cms_enabled(@business)) %><li><a href="#tab-top" class="store-tabs-menus"><span>Menus</span></a></li><% end %>
                    <% if @business.instance_of?(Shop) and (@business.has_products || cms_enabled(@business)) %><li><a href="#tab-top" class="store-tabs-products"><span>Products</span></a></li><% end %>
                    <% if @business.instance_of?(Hotel) %><li><a href="#tab-top" class="store-tabs-amenities"><span>Amenities</span></a></li><% end %>
                    <% if (@business.instance_of?(Restaurant) || @business.instance_of?(Shop)) %>
                    <% if @business.has_events || cms_enabled(@business) %><li><a href="#tab-top" class="store-tabs-sales"><span>Sales &amp; Events</span></a></li><% end %>
                    <% if @business.has_active_news_items || cms_enabled(@business) %><li><a href="#tab-top" class="store-tabs-news"><span>News</span></a></li><% end %>
                    <% if @business.has_active_job_listings || cms_enabled(@business) %><li><a href="#tab-top" class="store-tabs-jobs"><span>Jobs</span></a></li><% end %>
                    <% end %>
                </ul>
            </div>
            <div class="store-folder">
                <div class="store-folder-active store-folder-details store-folder-split">
                    <div class="store-col floatleft">
                        <%= link_to_remote('Edit Details', :url => {:action => 'edit_business_details', :id => @business}, :html => {:class => 'admin-edit-link'}) if cms_enabled(@business)  %><br />
                        <h2>About Us</h2>
                        <div id='details-wrapper'>
                            <%= @business.details %>
                        </div>
                    </div>
                    <div class="store-col floatright">
                        <%= link_to_remote('Edit Hours', :url => {:action => 'edit_business_hours', :id => @business}, :html => {:class => 'admin-edit-link'}) if cms_enabled(@business)  %><br />
                        <h2>Hours</h2>
                        <div id="hours-wrapper">
                          <%= @business.hours %>
                        </div>
                        <div class="clear"></div>
                    </div>
					<div class="clear"></div> <!-- updated -->
                </div>
                <% if @business.instance_of?(Shop) %>
                <div class="store-folder-products">
                    <h2>Products We Carry</h2>
                    <div id="products-wrapper">
                      <%= link_to_remote('Edit Products', :url => {:action => 'edit_products', :id => @business}, :update => {:success => 'products-wrapper', :failure => 'error'}, :html => {:class => 'admin-edit-link'}) if cms_enabled(@business)  %>
                    <ul>
                        <% for product in @business.products %>
                            <li><%= product.name %></li>
                        <% end %>
                    </ul>
                    </div>
                </div>
                <% end %>
                <% if @business.instance_of?(Restaurant) %>
                <div class="store-folder-menus">
                    <h2><a name="menus">Menus</a></h2>
                    <div id="menus-wrap">
                        <%= render( :partial => 'menus/menu', :collection => @business.menus ) %>
                    </div>
                    <%= link_to_remote('Create', :url => {:controller => 'menus', :action => 'new', :restaurant_id => @business}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(@business)  %>
                </div>
                <% end %>
                <% if @business.instance_of?(Hotel) %>
                <div class="store-folder-amenities">
                    <h2><a name="amenities">Amenities</a></h2>
                    <%= link_to_remote('Edit Amenities', :url => {:action => 'edit_hotel_amenities', :id => @business}, :html => {:class => 'admin-edit-link'}) if cms_enabled(@business)  %>
                    <div id="amenities-wrap">
                        <%= @business.amenities %>
                    </div>
                </div>
                <% end %>
                <% if (@business.instance_of?(Restaurant) || @business.instance_of?(Shop)) %>
                <div class="store-folder-sales">
                    <h2><a name="sales">Sales &amp; Events</a></h2>
                    <div id="events-wrap">
                        <%= render( :partial => 'events/event', :collection => @business.events ) %>
                    </div>
                    <%= link_to_remote('Create', :url => {:controller => 'events', :action => 'new', :business_id => @business}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(@business)  %>
                </div>
                <div class="store-folder-news">
                    <h2>News</h2>
                    <div id="news-wrap"> <!-- Sales, Event, News, or Job -->
                            <%= render( :partial => "news_items/news_item", :collection => @business.news_items  )%>
                    </div>
                    <%= link_to_remote('Create', :url => {:controller => 'news_items', :action => 'new', :business_id => @business}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(@business)  %>
                </div>
                <div class="store-folder-jobs">
                    <h2>Jobs</h2>
                    <div id="jobs-wrap"> <!-- Sales, Event, News, or Job -->
                        <%= render( :partial => "job_listings/job_listing", :collection => @business.job_listings  )%>
                    </div>
                        <%= link_to_remote('Create', :url => {:controller => 'job_listings', :action => 'new', :business_id => @business}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(@business)  %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div> <!-- /main -->

