<div id="main">
    <div class="wrapper">
        <div class="narrow">
            <h1 class="narrow-shop">Shop the Square For: <%= @selected_category.name %></h1>
            <ul>
                <% for category in @categories %>
                    <li <%= "class='narrow-selected'" if category.slug.eql?(@selected_category.slug) %>><%= link_to "#{category.name} (#{category.count})", filter_path_for_type(category) %></li>
                <% end %>
            </ul>
        </div>

        <div id="stores-thumbs">
            <%#TODO figure out a better way to filter these based on type. %>
            <% if @businesses[0].instance_of?(Restaurant) %>
                <%= image_tag 'banner-dining.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Dine at the Square!' %>
            <% elsif @businesses[0].instance_of?(Shop) %>
              <%= image_tag 'banner-shopping.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Shop the Square for unique gifts and the latest fashion trends' %>
            <% end %>
            <%= render :partial => 'business_directory', :locals => {:businesses => @businesses} %>
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    </div>
</div> <!-- /main -->

