<% form_for :business, @business, :url => {:action => 'update_hotel_amenities', :id => @business} do |f| %>
    <%= f.text_area :amenities %>
    <%= f.submit 'Save' %>
<% end %>

<script type="text/javascript">
	/* tinyMCE.init({
		mode : "textareas",
		theme : "simple"
	}); */
    CKEDITOR.replace( 'business[amenities]' );        
</script>