<% form_for :business, @business, :url => {:action => 'update_business_details', :id => @business} do |f| %>
    <%= f.text_area :details %>
    <%= f.submit 'Save' %>
<% end %>

<script type="text/javascript">
	/* tinyMCE.init({
		mode : "textareas",
		theme : "simple"
	}); */
    CKEDITOR.replace( 'business[details]' );        
</script>