<ul id="business_products">
    <% for product in @business.products %>
        <li <%= "id='product_#{product.id}'" %>><%= product.name %> <%= link_to_remote image_tag('cancel.png'), :url => {:action => 'destroy_product', :id => product.id, :business_id => @business}, :complete => visual_effect(:fade,'product_'+product.id.to_s), :confirm => 'Are you sure you want to delete this Product?', :html => {:id => 'cancel-button'} %> </li>
    <% end %>
</ul>
<div style="clear:both">
    <%= sortable_element 'business_products', :constraint => false, :url => {:action => "sort_products", :id => @business }, :complete => visual_effect(:highlight, 'business_products', {:startcolor => '#92C2A9', :endcolor => '#666666'})  %>
    <% form_remote_for Product.new, :url => {:action => 'add_product', :id =>  @business}, :update => {:success => 'business_products', :failure => 'error'} do |f| %>
        <%= f.text_field :name %>
        <%= f.submit 'Add' %>
    <% end %>
    <%= button_to 'Done', business_detail_path_for_type(@business) %>
</div>