<ul id="edit-business-info">
    <% form_for :business, @business, :url => { :action => 'update_business_info', :id => @business }, :html => {:multipart => true, :class => 'cms-form'} do |f| %>
        <%= f.hidden_field :id %>
        <li>
            <%= image_tag @business.logo_path %>
        </li>
        <li>
            <label>Change Logo: </label>
            <%= f.file_field :uploaded_data %>
        </li>
        <li>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </li>
        <li>
            <%= f.label :hours %>
            <%= f.text_area :hours %>
        </li>
        <li>
            <%= f.label :phone %>
            <%= f.text_field :phone %>
        </li>
        <li>
            <%= f.label :url %>
            <%= f.text_field :url %>
        </li>
        <li>
            <%= f.label :suite %>
            <%= f.text_field :suite %> (leave blank if outside mall)  
        </li>
        <li>
            <%= f.label 'Address' %>
            <%= f.text_field :location %>
        </li>

        <li>
          <%= f.submit 'Update' %> <%= button_to 'Cancel', business_detail_path_for_type(@business) %>
        </li>
    <% end %>

    
</ul>