<div id="main">
    <div class="wrapper">
        <div class="narrow">
            <%= render :partial => 'mall/information_menu', :locals => {:page => nil} %>
        </div>
        <div id="stores-thumbs">
            <%= image_tag 'banner.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Shop the Square for unique gifts and the latest fashion trends' %>
            <%= render :partial => 'business_directory', :locals => {:businesses => @businesses} %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div> <!-- /main -->

