<div class="content">
  <%= link_to_function 'Print', 'javascript:print()' %>
  <h1><%= @event.business.name %></h1>
  <% if @event.start_date.eql?(@event.end_date) %>
    <h2>
        <%= @event.start_date.strftime('%b %d, %Y') %>
    </h2>
  <% else %>
    <h2><%= @event.start_date.strftime('%b %d, %Y') %> - <%= @event.end_date.strftime('%b %d, %Y') %></h2>
  <% end %>
  <h3><%= @event.name %></h3>

  <p><%= @event.description %></p>
</div>