<% if !@businesses.empty? %>
    <h1 class="senj-header">Search Results</h1>
    <% @businesses.each do |business| %>
        <div class="hr"><hr/></div>
        <div class="store-senj2">
          <h5><%= link_to(image_tag(business.logo_path, :width => 222, :height => 100, :alt => business.name), business_detail_path_for_type(business)) %></h5>
			<div class="store-senj2-details">
				<h4><%= link_to business.name, business_detail_path_for_type(business) %></h4>
				<p><%= business.description %></p>
			</div>
			<div class="store-senj2-print">
				<p><%#= link_to "Print", {:controller => "businesses", :action => "print_business", :id => business.id} , :popup => true %></p>
			</div>
          <div class="clear"></div>
        </div>
    <% end %>
<% else %>
    <h1 class="senj-header" style="font-size: 20pt; padding: 40px 0 0 50px;">We're Sorry, we could not find any information that matched: <%= params[:terms] %></h1>
<% end %>

<% if !@events.nil? %>
    <%= render :partial => "events/event_list_item", :collection => @events %>
<% end %>

<br />
<br />