<div id="main">
    <div class="wrapper">
        <div id="store_menu">Edit !</div>
        <div id="store">
            <a href="#" class="store-back">&laquo; Back to Stores</a>
            <h1><%= @shop.name %></h1>
            <div class="store-info">
                <dl>
                    <dt>Hours:</dt>
                    <dd style="color: pink;">Monday to Friday 9:30 am - 8:30 pm<br/>Saturday 9:30 am - 5:30 pm<br/>Sunday 12:00 pm - 5:00 pm</dd>
                    <dt>Phone:</dt>
                    <dd><%= number_to_phone(@shop.phone, :area_code => true) %></dd>
                    <dt>Web:</dt>
                    <dd><%= link_to @shop.url, @shop.url %></dd>
                    <dt>Location:</dt>
                    <%# TODO figure out how to make ruby output '1st' or '2cnd' etc...%>
                    <dd><%= "#{@shop.suite[0,1].to_i.ordinalize} Floor, Suite #{@shop.suite}" if not @shop.suite.nil? %></dd>
                </dl>
                <div class="clear"></div>
            </div>
            <a href="#" class="store-share">Share</a>
        </div>
        <div id="store-gallery">
            <%= image_tag 'sopra.jpg', :width => 545, :height => 304, :alt => 'Sopra Sotto' %>
            <%= image_tag 'sopra-2.jpg', :width => 545, :height => 304, :alt => 'Sopra Sotto' %>
            <%= image_tag 'sopra.jpg', :width => 545, :height => 304, :alt => 'Sopra Sotto' %>
            <%= image_tag 'sopra-2.jpg', :width => 545, :height => 304, :alt => 'Sopra Sotto' %>
        </div>
        <div class="clear"></div>
    </div>
    <div id="store-tabsection">
        <div class="wrapper">
            <div class="store-tabs">
                <ul>
                    <li class="store-tabs-active"><a href="#" class="store-tabs-details"><span>Details</span></a></li>
                    <li><a href="#" class="store-tabs-sales"><span>Sales &amp; Events</span></a></li>
                    <li><a href="#" class="store-tabs-news"><span>News</span></a></li>
                    <li><a href="#" class="store-tabs-jobs"><span>Jobs</span></a></li>
                </ul>
            </div>
            <div class="store-folder">
                <div class="store-folder-active store-folder-details store-folder-split">
                    <div class="store-col floatleft">
                        <h2>About Us</h2>
                        <%= @shop.details %>
                    </div>
                    <div class="store-col floatright">
                        <h2>Products We Carry</h2>
                        <ul>
                            <%# for product in @shop.products %>
                                <li><%#= product.name %></li>
                            <%# end %>
                        </ul>
                        <div class="clear"></div>
                    </div>
					<div class="clear"></div> <!-- updated -->
                </div>
                <div class="store-folder-sales">
                    <h2>Sales &amp; Events</h2>
                    <div class="store-senj"> <!-- Sales, Event, News, or Job -->
                        <h5>Jan 3 - Feb 14</h5> <a href="#" class="store-print">Print</a>
                        <h4>Fall Sales</h4>
                        <p>20% off all men&#39;s T-shirts. French Import suits 25% off Polos - starting at $14.99. Select items only. See store for details</p>
                        <div class="clear"></div>
                    </div>
                    <div class="store-senj">
                        <h5>Jan 3 - Feb 14</h5> <a href="#" class="store-print">Print</a>
                        <h4>Fall Sales</h4>
                        <p>20% off all men&#39;s T-shirts. French Import suits 25% off Polos - starting at $14.99. Select items only. See store for details</p>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="store-folder-news">
                    <h2>News</h2>
                    <div class="store-senj"> <!-- Sales, Event, News, or Job -->
                        <h5>Aug 14</h5> <a href="#" class="store-print">Print</a>
                        <h4>New Crystal</h4>
                        <p>Added new crystal wine glasses to our inventory.</p>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="store-folder-jobs">
                    <h2>Jobs</h2>
                    <div class="store-senj"> <!-- Sales, Event, News, or Job -->
                        <h5>July 14</h5> <a href="#" class="store-print">Print</a>
                        <h4>Assistant Manager</h4>
                        <p>Manage daily operations.</p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /main -->
