<% remote_form_for @menu, :before => "CKEDITOR.instances.menu_description.updateElement()" do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :restaurant_id %>  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :items %><br />
    <%= f.text_field :items %>
  </p>
  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>