<div class="store-senj">
    <h5><%= menu.name %> <%= menu.hours%></h5>
    <%= link_to_remote('Edit', :url => {:controller => 'menus', :action => 'edit', :id => menu}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(menu.restaurant)  %>
    <%= link_to_remote(image_tag('cancel.png'), :url => {:controller => 'menus', :action => 'destroy', :id => menu}, :method => :delete, :confirm => 'Are you sure you want to delete this Menu?', :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(menu.restaurant) %>
    <h4><%= menu.name %></h4>
    <div id="left-column">
        <p><%= menu.description %></p>
    </div>
    <div id="right-column">
        <p><%= menu.items %></p>  
    </div>
    <div class="clear"></div>
</div>