<% content_for :head do %>
    <%= javascript_include_tag 'ckeditor/ckeditor_basic' %>
<% end %>

<% form_for(page, :url => {:controller => :cms_pages, :action => :update, :id => page.id}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %> (leave blank for defaults)
  </p>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %> (leave blank for defaults)
  </p>
  <p>
    <%= f.label :description %>
    (leave blank for defaults)<br />
    <%= f.text_area :description, :rows => 5, :cols => 107 %>
  </p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <!-- <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug, :disabled => true %>
  </p> -->

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit submit_text %>
    <%= f.submit 'Cancel' %>
  </p>
<% end %>

<script type="text/javascript">
  CKEDITOR.replace( 'cms_page_body', { height: '600' } );
</script>