<div id="main">
    <div class="wrapper">
        <div class="narrow">
            <%= render :partial => 'mall/information_menu', :locals => {:page => @cms_page} %>
        </div>
        <div id="entry" class="default">
            <% if has_access('mall_admin') %>
                <%= link_to 'Edit Page', edit_cms_page_path(@cms_page), :class => 'admin-edit-link' %>
                <br /> <br />
            <% end %>
            <%= image_tag 'banner-visit.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Shop the Square for unique gifts and the latest fashion trends' %>
            <%= @cms_page.body %>
        </div>
        <div class="clear"></div>
    </div>
</div> <!-- /main -->