<% if has_access('mall_admin') %>
    <%= link_to 'Edit Page', edit_cms_page_path(@cms_page), :class => 'admin-edit-link' %>
    <br /> <br />
<% end %>

<div class="cms-page">
  <h2><%= @cms_page.title %></h2>
  <%= @cms_page.body %>
</div>
