<div class="modal">
    <h1>New Banner Image</h1>

    <% form_for(@banner_image, :url => banner_create_path, :html => {:multipart => true} ) do |f| %>
        <%= f.error_messages %>

          <p>
            <%= image_tag @banner_image.doc.url if not @banner_image.doc_file_name.nil? %>
          </p>

          <p>
            <%= f.label 'Image' %><br />
            <%= f.file_field :doc %>
          </p>

          <p>
            <%= f.submit 'Submit' %> <%= f.submit 'Cancel' %>
          </p>
    <% end %>
</div>
