<div class="modal">
  <h2>Manage Banners</h2>
  <table>
    <thead>
        <tr>
          <th>Banner</th>
          <th>Actions</th>
        </tr>
    </thead>
    <% @banners.each do |banner| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= image_tag banner.doc.url %></td>
          <td><%= link_to 'edit', banner_edit_path(:id => banner) %><%= link_to 'Delete', banner_destroy_path(:id => banner) %></td>
        </tr>
    <% end %>
        <tfoot>
            <tr>
              <td colspan="8" style="text-align: right;"><%= link_to 'add banner', banner_new_path %></td>
            </tr>
        </tfoot>
  </table>
</div>
