<% content_for :head do %>
    <%= javascript_include_tag 'ckeditor/ckeditor_basic' %>
<% end %>
<div class="modal">
  <h1>Edit Promo</h1>
  <% form_for(@promo, :url => {:action => 'update_promo'}, :html => {:multipart => true}) do |f| %>
      <%= f.error_messages %>
      <%= hidden_field_tag :id, @promo.id %>

      <% if not @promo.promo_image.nil? %>
        <p>
          <%= image_tag @promo.promo_image.doc.url %>
        </p>
      <% end %>

      <p>
        <%= file_field_tag :doc  %>
      </p>

      <p>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </p>

      <p>
        <%= f.label :uri %><br />
        <%= f.text_field :uri %>
      </p>

      <p>
        <%= f.submit "Update" %>
        <%= f.submit "Cancel" %>
      </p>
  <% end %>
</div>

<script type="text/javascript">
  CKEDITOR.replace( 'promo_description', { height: '100' } );
</script>
