<script type="text/javascript">
    function loadslideshowpreview(){
       $j('#slide-show-preview').load('<%= url_for preview_slideshow_path(@slide_show) %>', function(){
            $j('#slide-show-preview').cycle({timeout:6000});    
       });
    }

    $j(document).ready(function(){
        loadslideshowpreview();
    });
</script>
<div class="modal">
  <h1><%= "Edit #{@slide_show.name} Gallery" %></h1>
  <div id="slide-edit-left-column">

    <% form_for(@slide_show, :url => {:action => 'update_slide_show'}, :html => {:multipart => true}) do |f| %>
      <%= f.error_messages %>
      <%= f.hidden_field :id %>

      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :slug %><br />
        <%= f.text_field :slug, :disabled => true %>
      </p>
      <!--
      <p>
        <%= f.label :width %><br />
        <%= f.text_field :width  %>
      </p>

      <p>
        <%= f.label :height %><br />
        <%= f.text_field :height %>
      </p> -->

      <p>
        <%= f.label :enabled %><br />
        <%= f.check_box :enabled %>
      </p>
      <p>

      </p>
    <br />
    <h1>Slides</h1>
    <ul id="slide-show-slides">
      <% @slide_show.slides.each do |slide| %>
        <li <%= "id=slide_#{slide.id}" %>><%= image_tag slide.doc.url(:admin_thumbnail) %> <%= link_to(image_tag('cancel.png', :class => 'slide-thumb-cancel-button'), destroy_slide_path(slide), :confirm => "Are you sure you want to destroy this slide?") %></li>
      <% end %>
    </ul>
    <%= sortable_element 'slide-show-slides', :url => resort_slideshow_path(@slide_show), :complete => visual_effect(:highlight, 'slide-show-slides', {:endcolor => '#eeeeee'})  %>
    <br />
    <br />
    <% unless @slide_show.type.eql?('BusinessGallery') and @slide_show.slides.size == 4 %>
        <h1>Add New Slide</h1> <%= file_field_tag 'slide[doc]' %>
    <% end %>
    <br />
        <br />
    <p>
      <%= f.submit 'Save Gallery' %> <%= f.submit 'Done' %>
    </p>
    <% end %>
  </div>

  <div id="slide-edit-right-column">
      <h1>Gallery Preview</h1> (Preview may be smaller than actual size)
      <div id="slide-show-preview"></div>
  </div>

  <div style="clear: both;"></div>
</div>