<div class="modal">
    <div id="slide-edit-left-column">
    <h1>Edit Video</h1>
    <% form_for(@video, :url => {:action => 'update_video'} ) do |f| %>
        <%= f.error_messages %>
        <%= f.hidden_field :id %>

          <p>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </p>

          <p>
            <%= f.label 'Youtube Url' %><br />
            <%= f.text_field :full_url %>
          </p>

          <p>
            <%= f.label :published %><br />
            <%= f.check_box :published %>
          </p>

          <p>
            <%= f.submit 'Submit' %> <%= f.submit 'Done' %>
          </p>
    <% end %>
    </div>
    <div id="slide-edit-right-column">
      <h1>Current Movie</h1>
      <div id="video_wrapper"></div>
    </div>

    <div style="clear: both;"></div>
  <script type="text/javascript">
    swfobject.embedSWF('http://www.youtube.com/v/<%= @video.token %>?enablejsapi=1&playerapiid=ytplayer', 'video_wrapper', '650', '425', '8', null, null, { allowScriptAccess: 'always'}, { id: 'myytplayer' });
  </script>
</div>
