<div class="modal">
    <h1>New Image Gallery</h1>

    <% form_for(@slide_show, :url => {:action => 'create_slide_show'}, :html => {:multipart => true}) do |f| %>
        <%= f.error_messages %>

          <%= hidden_field_tag 'type', @type %>

          <p>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </p>

          <p>
            <%= f.label :enabled %><br />
            <%= f.check_box :enabled %>
          </p>


          <% if @type.eql?('cms') %>
              <p>
                <%= f.label :width %><br />
                <%= f.text_field :width %>
              </p>

              <p>
                <%= f.label :height %><br />
                <%= f.text_field :height %>
              </p>
          <% end %>

          <h1>Add New Slide</h1>
          <%= file_field_tag 'slide[doc]' %>
          <p></p>
          <p>
            <%= f.submit 'Submit' %> <%= f.submit 'Cancel' %>
          </p>
    <% end %>
</div>
