<div class="modal">
    <h1>New Youtube Video</h1>

    <% form_for(@video, :url => {:action => 'create_video'} ) do |f| %>
        <%= f.error_messages %>

          <p>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </p>

          <p>
            <%= f.label 'Youtube Url' %><br />
            <%= f.text_field :full_url %>
          </p>

          <p>
            <%= f.label :published %><br />
            <%= f.check_box :published %>
          </p>

          <p>
            <%= f.submit 'Submit' %> <%= f.submit 'Cancel' %>
          </p>
    <% end %>
</div>
