body {margin-top: 20px}
.validation-errors {
    color: red;
}
#admin_menu {
    background-color: orange;
    border: 1px solid black;
    z-index: 1000;
    height: 20px;
}

#admin_menu a, .contextual-admin-menu a {
    color: #333333;
    text-decoration: none;
}

#admin_menu ul {
    list-style: none;
    float: left;
}

#admin_menu ul li {
    display: inline;
    padding: 0 5px;
    color: #333333;
}

#admin_menu .bordered-element {
    border-left: 1px solid #000000;
}

#admin_menu ul#account-menu {
    float: right;
    padding-right: 10px;
}

#store-menu {
    background-color: #91C3A9;
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 5px;
}

#store-menu span {
    font-weight: bold;
}

.cms-form {
    color: white;
}

.cms-form input[type=text] {
    background: #E5E5E5;
    border: 0px none;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    height: 10px;
    margin-right: 4px;
    padding: 6px 10px;
    width: 188px;
}

.cms-form label {
    font-size: 14px;
    font-weight: bold;
}

.cms-form h2 {
    font-size: 14px;
    font-weight: bold;
}

#edit-business-info, #business_images {
    list-style: none;
}

#edit-business-info label {
    width: 50px;
    display: inline-block;
    padding: 5px 0 5px 0;
}

.admin-edit-link {
    color: orange;
    font-size: 12px;
}

#business_details {
    width: 435px;
    height: 210px;
}

#slide-show-slides {
    list-style: none;
    cursor: move;
    display: inline-block;
    width: 120px
}

#slide-edit-left-column {
    float: left;
    width: 250px;
    background-color: #eeeeee;
    padding: 5px;
}

#slide-edit-right-column {
    float: right;
}

#media-galleries-container a.admin-edit-small, a.admin-edit-small{
    text-decoration: none;
    font-style: normal;
    color: orange;
    float: right;
    font-family: sans-serif;
}

.contextual-admin-menu {
    background-color: orange;
    padding: 3px;
    margin: 0 0 10px 0;
    color: #000000;
    border: 1px solid #000000;
}

.contextual-admin-menu li {
    list-style: none;
    display: inline-block;
}

#galleries-admin-menu a {
    color: #000000;
    font-family: sans-serif;
    font-weight: bold;
}

.modal p {
    margin-bottom: 1em;
}

.modal td, .modal th {
    padding: 5px;
}

.modal tr.even {
    background-color: #999999;
}

.modal a {
    color: #ff6600;
}