body {
	/*background:#333 url(/images/body.gif) top left repeat-x;*/
	font-size:14pt;
	line-height:18px;
    font-family: Arial,Verdana,Tahoma,sans-serif;
}

h1 {
    font-size: 22pt;
    font-style: italic;
    padding: 0 0 .75em 0;
}

h2 {
    font-size: 16pt;
    padding: 0 0 .75em 0;
}

h3 {
    padding: 0 0 .75em 0;
    font-style: italic;
}

.content {
    padding: 20px;
    width: 700px;
}

a {
    text-decoration: none;
    color: #333;
    font-style: italic;
    float: right;
}

a:hover {
    text-decoration: underline;
}