#header h2 {
	margin-right:50px;
}
#nav a {
	background:none;
	text-indent:10px;
	text-transform:uppercase;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	border-left:1px solid #000;
	line-height:33px;
}
#search {
	margin:7px 2px 0 0;
}
#footer {
	height:70px;
}
#boxes li {
	float:left;
	width:290px;
	margin-right:22px;
}
#boxes li.boxes-last {
	margin-right:0;
}
#store-tabsection div.store-tabs a span {
	background:none !important;
	margin:0 !important;
}
#store-tabsection div.store-tabs a {
	text-indent:0;
}