html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
background:transparent;
border:0;
font-size:100%;
margin:0;
outline:0;
padding:0;
vertical-align:baseline;
}

body {
line-height:1;
}

a:hover {
text-decoration:none;
}

ol,ul {
list-style-position:inside;
}

ol {
list-style-type:decimal;
}

ul {
list-style-type:disc;
}

blockquote,q {
quotes:none;
}

:focus {
outline:0;
}

ins {
text-decoration:none;
}

del {
text-decoration:line-through;
}

table {
border-collapse:collapse;
border-spacing:0;
}

strong,b {
font-weight:bold;
}

pre {
font-family:"Courier New", Courier, monospace;
}

fieldset {
border:1px solid #000;
}

html { /* Uncomment to force scrollbar in Firefox */
	/* min-height:100%;
	margin-bottom:1px; */
}