div.clear {
	border:0;
	clear:both;
	display:block;
	float:none;
	font-size:0;
	height:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}

div.clear-right {
	border:0;
	clear:right;
	display:block;
	float:none;
	font-size:0;
	height:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}

div.clear-left {
	border:0;
	clear:left;
	display:block;
	float:none;
	font-size:0;
	height:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}

.aligncenter {
	display:block;
	margin:0 auto;
	padding:0 10px 10px 10px;
}

.alignleft {
	float:left;
	padding:0 10px 10px 0;
}

.alignright {
	float:right;
	padding:0 0 10px 10px;
}

.floatright {
	float:right;
}

.floatleft {
	float:left;
}

* {
font-family:Arial, Verdana, Tahoma, sans-serif;
}

#skip {
left:-99999px;
position:absolute;
}

body {
	background:#333 url(/images/body.gif) top left repeat-x;
	font-size:11px;
	line-height:18px;
}
div.wrapper {
	width:960px;
	margin:0 auto;
}
#header {
	margin-bottom:40px;
}
#header div.header-info {
	width:505px;
	float:right;
	margin:11px 6px 17px 0;
	height:12px;
}
#header img.header-logo {
	float:left;
	margin:19px 0 0 2px;
}
#header h2 {
	width:661px;
	height:61px;
	background:url(/images/tagline.png) top left no-repeat;
	float:right;
	margin:0 100px 1px 0;
	clear:right;
	text-indent:-99999px;
}
#header div.header-info h3 {
	float:left;
	background:url(/images/hours.png) top left no-repeat;
	text-indent:-99999px;
	width:136px;
	height:10px;
	margin-top:1px;
	display:block;
}
#header div.header-info p {
	float:left;
	color:#ccc;
	padding-left:11px;
	line-height:12px;
}
#header div.header-info ul {
	list-style-position:outside;
	padding-left:20px;
	float:left;
	line-height:12px;
}
#header div.header-info li {
	padding-left:15px;
	margin-left:10px;
	background:url(/images/plus.gif) 0 3px no-repeat;
	display:inline;
	line-height:12px;
}
#header div.header-info li a {
	color:#8fbda5;
	line-height:12px;
}
#header div.header-info li a:hover {
	text-decoration:none;
}
#nav {
	float:right;
	margin:2px 60px 0 0;
}
#nav ul {
	list-style:none;
}
#nav li {
	display:inline;
}
#nav a {
	background:url(/images/nav.png) no-repeat;
	display:block;
	float:left;
	line-height:33px;
	text-indent:-99999px;
}
#nav a.nav-home {
	width:76px;
}
#nav a.nav-stores {
	width:90px;
	background-position:-76px 0;
}
#nav a.nav-dining {
	width:87px;
	background-position:-166px 0;
}
#nav a.nav-sales {
	width:155px;
	background-position:-253px 0;
}
#nav a.nav-visit {
	width:45px;
	background-position:-408px 0;
}
#nav a.nav-home:hover, #nav li.nav-active a.nav-home {
	width:76px;
	background-position:0 -33px;
	color:#91c3a9;
}
#nav a.nav-stores:hover, #nav li.nav-active a.nav-stores {
	width:90px;
	background-position:-76px -33px;
	color:#91c3a9;
}
#nav a.nav-dining:hover, #nav li.nav-active a.nav-dining {
	width:87px;
	background-position:-166px -33px;
	color:#91c3a9;
}
#nav a.nav-sales:hover, #nav li.nav-active a.nav-sales {
	width:155px;
	background-position:-253px -33px;
	color:#91c3a9;
}
#nav a.nav-visit:hover, #nav li.nav-active a.nav-visit {
	width:45px;
	background-position:-408px -33px;
	color:#91c3a9;
}
#search {
	float:right;
	clear:right;
	margin:7px 4px 0 0;
}
#search input {
	float:left;
}
#search input.text {
	width:188px;
	padding:6px 10px;
	height:10px;
	border:0 none;
	color:#898989;
	background:#e5e5e5;
	font-size:10px;
	font-weight:bold;
	margin-right:4px;
}
#main.main-splash {
	width:960px;
	height:352px;
	clear:left;
	overflow:hidden;
}
#mailing {
	margin:30px auto 10px auto;
    background:#231f20;
	margin-bottom:30px;
}

#mall_index #mailing {
    background: none;
    margin-bottom:0;
    margin-top: 10px;
}

#mailing div.wrapper {
    width:955px;
	padding:15px 2px 5px 3px;
}

#mall_index #mailing div.wrapper{
    width: 935px;
    padding: 15px 2px 5px 23px;
}

#mailing h2 {
	width:553px;
	height:13px;
	background:url(/images/email.png) top left no-repeat;
	text-indent:-99999px;
	float:left;
	margin-top:6px;
}
#mailing form {
	float:right;
}
#mailing input {
	float:left;
}
#mailing input.text {
	width:188px;
	padding:6px 10px;
	height:10px;
	border:0 none;
	color:#898989;
	background:#e5e5e5;
	font-size:10px;
	font-weight:bold;
	margin-right:4px;
}
#mailing form img {
	float:left;
	position:relative;
	top:-5px;
	left:5px;
}
#options {
	background:url(/images/bar.gif) top left repeat-x;
	height:126px;
	margin-bottom:28px;
}
#options ul {
	list-style:none;
}
#options li {
	float:left;
	display:block;
	width:240px;
	height:105px;
	margin-top:15px;
}
#options h4 {
	text-indent:-99999px;
}
#options p {
	font-family:"Myriad Pro", Arial, Verdana, sans-serif;
	color:#ccc;
	font-size:12px;
	line-height:18px;
}
#options a {
	font-family:"Myriad Pro", Arial, Verdana, sans-serif;
	color:#ccc;
	text-decoration:none;
}
#options a:hover {
	text-decoration:underline;
}
#options li.options-stores {
	background:url(/images/stores.png) top left no-repeat;
    position: relative;
}
#options li.options-dining {
	background:url(/images/dining.png) top left no-repeat;
    position: relative;
}
#options li.options-events {
	background:url(/images/events.png) top left no-repeat;
    position: relative;
}
#options li.options-visit {
	background:url(/images/visit.png) top left no-repeat;
    position: relative;
}

.options-click-target {
    height: 96px;
    width: 218px;
    position: absolute;
    top: 0;
    left: 0;    
}

.options-click-target img {
    height: 96px;
    width: 218px;
}

#options li.options-stores p {
	padding:26px 0 0 69px;
	width:155px;
}
#options li.options-dining p {
	padding:26px 0 0 88px;
	width:135px;
}
#options li.options-events p {
	padding:26px 0 0 58px;
	width:170px;
}
#options li.options-visit p {
	padding:26px 0 0 70px;
	width:160px;
}
#boxes {
	margin-bottom:80px;
}
#boxes ul {
	list-style:none;
}
#boxes li {
	float:left;
	width:290px;
	margin-right:45px;
}
#boxes li.boxes-last {
	margin-right:0;
}
#boxes p {
	color:#b7b7b7;
	line-height:18px;
	width:145px;
	padding-left:10px;
	float:left;
	margin-bottom:10px;
    font-size: 13px;
}
#boxes h3 {
	width:300px;
	height:35px;
	/* text-indent:-99999px; */
	margin-bottom:6px;
    color: #91C3A9;
    font-size: 12pt;
    font-weight: normal;
    padding: 8px 0 0 10px;
    letter-spacing: 0.05em;
    background:url(/images/promo-header-leader.png) top left no-repeat;
}
/*
#boxes li.boxes-downtown h3 {
	background:url(/images/downtown.png) top left no-repeat;
} 

#boxes li.boxes-parking h3 {
	background:url(/images/parking.png) top left no-repeat;
}
#boxes li.boxes-weekend h3 {
	background:url(/images/weekend.png) top left no-repeat;
} */
#boxes img {
	border:8px solid #231f20;
	float:left;
	height:113px;
	overflow:hidden;
}
#boxes a.boxes-more {
	width:99px;
	height:18px;
	display:block;
	text-indent:-99999px;
	background:url(/images/learn.gif) top left no-repeat;
}
#boxes a.boxes-more:hover {
	background:url(/images/learn.gif) bottom left no-repeat;
}
#footer {
	/* background:#000 url(/images/footer.gif) top left repeat-x; */
    background-color: #000;
	min-height:90px;
    height: 100%;
	padding-top:30px;
}
#footer p {
	color:#898989;
	float:right;
	font-size:10px;
	line-height:12px;
    padding-right: 6px;
}

#footer #footer-blurb {
    float: left;
    width: 300px;
    font-size: 13px;
    line-height: 1.25em;
    padding-right: 20px;
}

#footer #add-this-footer {
    float: left;
   /* width: 300px; */
}

#footer p.footer-design a {
	color:#898989;
	text-decoration:none;
}
#footer p.footer-design a:hover {
	text-decoration:underline;
}
#footer ul {
	list-style:none;
	float:right;
	line-height:12px;
}
#footer li {
	border-right:1px solid #898989;
	float:left;
	padding:0 8px 0 7px;
	line-height:12px;
}
#footer li.footer-last {
	border:0 none;
}
#footer li a {
	font-size:12px;
	color:#898989;
	text-decoration:none;
}
#footer li a:hover {
	text-decoration:underline;
}


#store-gallery img {
	padding:2px;
	border:1px solid #000;
}
#store-gallery {
	width:550px;
	height:310px;
	float:right;
}
#pager {
	width:100px;
	float:right;
	clear:right;
	text-align:center;
	padding:10px 215px 15px 0;
}
#pager a {
	width:11px;
	height:11px;
	text-indent:-99999px;
	background:url(/images/pager-off.gif) top left no-repeat;
	margin-right:10px;
	float:left;
	overflow:hidden;
}
#pager a.activeSlide {
	background:url(/images/pager-on.gif) top left no-repeat;
}
#store {
	width:360px;
	float:left;
	margin-bottom:15px;
}
#store a.store-back {
	display:block;
	width:101px;
	height:8px;
	background:url(/images/back.png) top left no-repeat;
	text-indent:-99999px;
	margin:0 0 20px 15px;
	cursor:pointer;
}
#store h1 {
	font-family:Georgia, "Times New Roman", serif;
	font-size:36px;
	color:#92c2a9;
	font-weight:normal;
	padding:0 0 25px 15px;
	border-bottom:1px solid #231f20;
	margin-bottom:10px;
    line-height: 1em;
}
#store div.store-info {
	padding-left:15px;
	margin-bottom:10px;
}
#store dt {
	color:#fff;
	font-size:12px;
	float:left;
	width:80px;
	margin-bottom:10px;
}
#store dd {
	color:#92c2a9;
	font-size:12px;
	float:left;
	width:260px;
	margin-bottom:10px;
}
#store dd a {
	color:#92c2a9;
}
#store dd a:hover {
	text-decoration:none;
}
#store a.store-share {
	width:83px;
	height:16px;
	background:url(/images/share.png) top left no-repeat;
	display:block;
	cursor:pointer;
	text-indent:-99999px;
	margin-left:15px;
}
#store-tabsection {
	background:url(/images/tabsection-bg.gif) 0 4px repeat;
	/* height:363px; */
	/* padding:4px 0; */
	border-top:1px solid #777;
	border-bottom:1px solid #777;
	margin-bottom:10px;
}
#store-tabsection div.store-tabs {
	width:960px;
	height:49px;
	background:#333 url(/images/tabs.gif) 0 4px no-repeat;
	padding-top:4px;
}
#store-tabsection div.store-tabs ul {
	/* width:393px; */
	float:left;
	height:49px;
	/* width:500px; */
	/* background:url(/images/tab.gif) top left no-repeat; */
}
#store-tabsection div.store-tabs li {
	display:inline;
}
#store-tabsection div.store-tabs a {
	float:left;
	line-height:49px;
	text-align:center;
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
	cursor:pointer;
	height:49px;
	border-right:1px solid #545453;
}
#store-tabsection div.store-tabs span {
	cursor:pointer;
	padding:0 21px;
}
/*
#store-tabsection div.store-tabs a.store-tabs-details {
	width:92px;
	margin-right:1px;
}
#store-tabsection div.store-tabs a.store-tabs-menus {
    width: 145px;
    margin-right:1px;
}
#store-tabsection div.store-tabs a.store-tabs-sales {
	width:145px;
	margin-right:1px;
}
#store-tabsection div.store-tabs a.store-tabs-news {
	width:85px;
	margin-right:1px;
}
#store-tabsection div.store-tabs a.store-tabs-jobs {
	width:67px;
	margin-right:1px;
}
*/
/*
#store-tabsection div.store-tabs a.store-tabs-details span {
	width:92px;
	margin-right:1px;
	display:block;
	background:url(/images/tab-details.png) top center no-repeat;
	height:10px;
	margin:20px 0 19px 0;
}
#store-tabsection div.store-tabsa.store-tabs-menus span {
    width:145px;
	margin-right:1px;
	display:block;
	background:url(/images/tab-sales.png) top center no-repeat;
	height:10px;
	margin:20px 0 19px 0;
}
#store-tabsection div.store-tabs a.store-tabs-sales span {
	width:145px;
	margin-right:1px;
	display:block;
	background:url(/images/tab-sales.png) top center no-repeat;
	height:10px;
	margin:20px 0 19px 0;
}
#store-tabsection div.store-tabs a.store-tabs-news span {
	width:85px;
	margin-right:1px;
	display:block;
	background:url(/images/tab-news.png) top center no-repeat;
	height:10px;
	margin:20px 0 19px 0;
}
#store-tabsection div.store-tabs a.store-tabs-jobs span {
	width:67px;
	margin-right:1px;
	display:block;
	background:url(/images/tab-jobs.png) top center no-repeat;
	height:10px;
	margin:20px 0 19px 0;
}
*/
#store-tabsection div.store-tabs a:hover {
	color:#ccc;
}
#store-tabsection div.store-tabs a:hover span {
	background-position:bottom center;
}
#store-tabsection div.store-tabs li.store-tabs-active a {
	/* background:url(/images/tab-active.gif) top left no-repeat; */
	background:url(/images/tabsection-bg.gif) top left no-repeat;
	color:#ccc;
}
#store-tabsection div.store-tabs li.store-tabs-active a span {
	background-position:bottom center;
}
#store-tabsection div.store-folder {
	width:920px;
	/* height:614px;
	overflow:hidden; */
	position:relative;
	margin:0 auto;
	min-height:300px;
	_height:300px;
}
#store-tabsection div.store-folder div.store-folder-details, #store-tabsection div.store-folder div.store-folder-sales, #store-tabsection div.store-folder div.store-folder-news, #store-tabsection div.store-folder div.store-folder-jobs, #store-tabsection div.store-folder div.store-folder-menus, #store-tabsection div.store-folder div.store-folder-amenities, #store-tabsection div.store-folder div.store-folder-products {
	width:920px;
	/* height:285px; */
	/* position:absolute; */
	left:-99999px;
	padding-top:30px;
	
}
#store-tabsection div.store-folder div.store-folder-sales, #store-tabsection div.store-folder div.store-folder-news, #store-tabsection div.store-folder div.store-folder-jobs, #store-tabsection div.store-folder div.store-folder-menus, #store-tabsection div.store-folder div.store-folder-amenities, #store-tabsection div.store-folder div.store-folder-products {
	
}
#store-tabsection div.store-folder div.store-folder-active {
	/* position:absolute; */
	display:block !important;
}
#store-tabsection div.store-folder p {
	font-family:Georgia, "Times New Roman", serif;
	font-size:11px;
	margin-bottom:18px;
	color:#ccc;
}
#store-tabsection div.store-folder h2 {
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:20px;
	color:#92c2a9;
	font-weight:normal;
}
#store-tabsection div.store-folder ul {
	list-style:none;
}
#store-tabsection div.store-folder li {
	background:url(/images/bullet.png) top left no-repeat;
	font-family:Arial, Verdana, sans-serif;
	color:#ccc;
	font-size:12px;
	float:left;
	width:150px;
	line-height:13px;
	padding-left:25px;
	margin-bottom:16px;
}
#store-tabsection div.store-folder div.store-col {
	width:405px;
}
#store-tabsection div.store-folder-split {
	background:url(/images/col.gif) top center repeat-y;
}
#store-tabsection div.store-folder div.store-senj {
	border-top:1px solid #5a5a5b;
	padding-top:15px;
}
#store-tabsection div.store-folder div.store-senj h5 {
	font-family:Georgia, "Times New Roman", serif;
	font-style:italic;
	color:#ccc;
	font-weight:normal;
	float:left;
}
#store-tabsection div.store-folder div.store-senj h4 {
	font-family:Georgia, "Times New Roman", serif;
	font-style:italic;
	color:#ccc;
	font-size:12px;
	margin-left:190px;
	width:545px;
}
#store-tabsection div.store-folder div.store-senj p {
	color:#ccc;
	font-size:12px;
	font-family:Arial, Verdana, sans-serif;
	width:545px;
	margin-left:190px;
}
#store-tabsection div.store-folder div.store-senj a.store-print {
	float:right;
	color:#ccc;
	font-size:12px;
}
.narrow {
	width:235px;
	float:left;
	margin-bottom:40px;
}
.narrow ul {
	list-style:none outside;
	padding:0 0 10px 15px;
	border-bottom:1px solid #231f20;
}
.narrow a {
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	font-size:12px;
	text-decoration:none;
	font-style:italic;
}
.narrow a:hover {
	color:#92c2a9;
}
.narrow a em {
	color:#999;
}
.narrow a:hover em {
	color:#999;
}
.narrow li.narrow-selected a {
	color:#92c2a9;
}
.narrow h1 {
	text-indent:-99999px;
	padding:0 0 12px 15px;
	border-bottom:1px solid #231f20;
	margin-bottom:12px;
}
.narrow h1.narrow-shop {
	background:url(/images/shop.png) 15px 0 no-repeat;
	width:215px;
	height:19px;
}
.narrow h1.narrow-mall {
	background:url(/images/mall.png) 15px 0 no-repeat;
	width:215px;
	height:19px;
}
/* Used in #entry */
#entry {
	min-height:300px;
}
.default {
	width:712px;
	margin-bottom:40px;
	float:right;
}
.default h2 {
	border-bottom:1px solid #999;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	font-size:16px;
	text-decoration:none;
	font-style:italic;
	padding:0 0 5px 0;
	margin-bottom:20px;
}
.default p, .default ul {
	font-size:14px;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	margin-bottom:15px;
	list-style:outside none;
	font-style:italic;
}
.default li {
	font-size:14px;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	font-style:italic;
}
.default h3 {
	font-size:14px;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	margin-bottom:15px;
	text-decoration:underline;
	font-style:italic;
	font-weight:normal;
}
.default h4 {
	font-size:14px;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	text-decoration:underline;
	font-style:italic;
	font-weight:normal;
}
.default div.default-section {
	margin-bottom:30px;
}
.default div.default-col {
	margin-bottom:30px;
	width:235px;
	float:left;
}
.default div.default-large {
	margin-bottom:30px;
	width:470px;
	float:right;
}
#stores-thumbs {
	width:712px;
	margin-bottom:40px;
	float:right;
}
#stores-thumbs .stores-banner, #entry .stores-banner {
	margin-bottom:12px;
}
#stores-thumbs ul {
	list-style:none;
}
#stores-thumbs li, #media-galleries-container li, .media-list li {
	float:left;
	width:222px;
    height: 150px;
	margin:0 23px 30px 0;
}
#stores-thumbs li.stores-last, #media-galleries-container li.gallery-last, .media-list li.gallery-last {
	margin:0;
}
#stores-thumbs h2, #media-galleries-container h2, .media-list h2 {
	font-weight:normal;
	font-size:13px;
	font-style:italic;
	padding:2px;
    border: none;
}
#stores-thumbs a, #media-galleries-container a, .media-list a {
	text-decoration:none;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	text-decoration:underline;
}
#stores-thumbs a:hover, #media-galleries-container a:hover, .media-list a:hover {
	text-decoration:none;
}
#stores-thumbs img {
	margin-bottom:4px;
}
#stores-thumbs p {
	color:#999;
	font-size:10px;
	line-height:14px;
	padding:2px;
}

.flash {
    height: 20px;
    font-weight: bold;
    padding-top: 2px;
    margin-bottom:5px;
}

.flash img {
   float: left;
   vertical-align: middle;
   margin: 1px 5px 0 3px; 
}

#flash_success {
    border: 1px solid #009900;
    background-color: #ccff99;
    /* display: none; */
}

#flash_notice {
    background-color: #ffcc66;
    border: 1px solid #ff9900;
}

#flash_error {
    background-color: #ffcccc;
    border: 1px solid #cc3300;    
}

.modal {
    color: black;
    padding: 20px;
    background-color: #ccc;
    border: 1px solid black;
}

.modal h1 {
    font-size: 14px;
}

.no_bullet {
    list-style: none;
}

#msg_stack {
    list-style: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.cms-page {
    font-size:14px;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
}

.cms-page h2 {
	border-bottom:1px solid #999;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	font-size:16px;
	text-decoration:none;
	font-style:italic;
	padding:0 0 5px 0;
	margin-bottom:20px;
}

.cms-page p, .cms-page ul {
	font-size:14px;
	font-family:Georgia, "Times New Roman", serif;
	color:#ccc;
	margin-bottom:15px;
	list-style:outside none;
	font-style:italic;
}

#mall_sitemap a{
    color: #CCCCCC;
}

#mall_sitemap h3 {
    padding-top: 10px;
}

/* New CSS as of 8/24/2010 */
h1.senj-header{color:#8fbda5;font-size:14px;font-weight:normal;margin-bottom:10px;}
div.store-senj2 h5{color:#ccc;float:left;font-family:Georgia, "Times New Roman", serif;font-size:12px;font-style:italic;font-weight:normal;width:240px;}
div.store-senj2 h4{color:#ccc;font-family:Georgia, "Times New Roman", serif;font-size:12px;font-style:italic;}
div.store-senj2 h4 a{color:#fff;font-weight:normal;text-decoration:underline;}
div.store-senj2 h4 a:hover{text-decoration:none;}
div.store-senj2 h5 a{color:#fff;font-weight:normal;text-decoration:underline;}
div.store-senj2 h5 a:hover{text-decoration:none;}
div.store-senj2-details{float:left;width:605px;}
div.store-senj2-print{float:right;text-align:right;width:80px;}
div.store-senj2 p{color:#ccc;font-family:Arial, Verdana, sans-serif;font-size:12px;}
div.store-senj2-print a{color:#fff;text-align:right;text-decoration:none;}
div.store-senj2-print a:hover{text-decoration:underline;}
div.hr hr{display:none;}
div.hr{border-top:1px solid #5a5a5b;font-size:0;height:1px;margin:15px 0;}

.directory-link {
    color: #CCCCCC;
    cursor: pointer;
    text-decoration: none;
}

.footer-blurb {
    width: 300px;
}

#mall_index #header {
 margin-bottom: 20px;    
}

#tagline {
    width: 960px;
    font-family:Georgia, "Times New Roman", serif;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 15px;
    background:url(/images/homeheaderstripe.gif) 0 0 no-repeat;
}

#contact-us-form label {
    color: #CCCCCC;
    font-weight: bold;
    font-size: 12px;
    width: 115px;
    display: inline-block;
    vertical-align: top;
}

#contact-us-form input[type=text]{
    margin-bottom: 5px;
    width: 346px;
}

#contact-us-form #submit-row {
    width: 470px;
}

#contact-us-form input[type=submit]{
    margin-top: 20px;
    float: right;
}

#contact-us-form textarea {
    height: 200px;
    width: 350px;
}

#contact-us-form #errorExplanation h2, #contact-us-form #errorExplanation p, #contact-us-form #errorExplanation li {
    color: orange;
}

#store-tabsection div.store-folder #hours-wrapper p {
    margin-bottom: 0;
}

#content {
    min-height:400px;
}