New Contact Us Form Submission
==============================

First Name: <%= @contact.first_name %>
Last Name:  <%= @contact.last_name %>
Email Address:  <%= @contact.email %>
Phone Number:   <%= @contact.phone %>
Message:

<%= @contact.message %>


Signed up for newsletter: <%= (@contact.newsletter == true) ? 'Yes' : 'No' %>

