<% remote_form_for @event, :before => "CKEDITOR.instances.event_description.updateElement()" do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :business_id %>  

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>