<div class="store-senj"> <!-- Sales, Event, News, or Job -->
    <h5><%= basic_format(event.start_date) %> - <%= basic_format(event.end_date) %></h5> <%= link_to "Print", {:controller => "businesses", :action => "print_event", :id => event.id} , :target => '_blank', :class => 'store-print' unless cms_enabled(event.business) %>
    <%= link_to_remote('Edit', :url => {:controller => 'events', :action => 'edit', :id => event}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(event.business)  %> <!-- <a href="#" class="store-print">Print</a> -->
    <%= link_to_remote(image_tag('cancel.png'), :url => {:controller => 'events', :action => 'destroy', :id => event}, :method => :delete, :confirm => 'Are you sure you want to delete this Event?', :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(event.business) %>
    <h4><%= event.name %></h4>
    <p><%= event.description %></p>
    <div class="clear"></div>
</div>