<div class="hr"><hr/></div>
<div class="store-senj2">
  <h5><%= link_to event_list_item.business.name, business_detail_path_for_type(event_list_item.business) %>
    <br/>
    <%= event_list_item.start_date.strftime('%b %d, %Y') %> - <%= event_list_item.end_date.strftime('%b %d, %Y') %>
  </h5>
    <div class="store-senj2-details">
        <h4><%= event_list_item.name %></h4>
        <p><%= event_list_item.description %></p>
    </div>
    <div class="store-senj2-print">
        <p><%= link_to "Print", {:controller => "businesses", :action => "print_event", :id => event_list_item.id} , :target => '_blank' %></p>
    </div>
  <div class="clear"></div>
</div>