<% remote_form_for @news_item, :before => "CKEDITOR.instances.news_item_description.updateElement()" do |f| %>
    <div id="news_item_errors" class="validation-errors">
        <%= f.hidden_field :business_id %>
    </div>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :published_at %><br />
    <%= f.date_select :published_at %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>