<div class="store-senj">
    <h5><%= basic_format(news_item.published_at) %></h5><!-- <h5>Aug 14</h5> -->
    <%= link_to_remote('Edit', :url => {:controller => 'news_items', :action => 'edit', :id => news_item}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(news_item.business)  %> <!-- <a href="#" class="store-print">Print</a> -->
    <%= link_to_remote(image_tag('cancel.png'), :url => {:controller => 'news_items', :action => 'destroy', :id => news_item}, :method => :delete, :confirm => 'Are you sure you want to delete this News Entry?', :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(news_item.business) %>
    <h4><%= news_item.title %></h4>
    <p><%= news_item.description %></p>
    <div class="clear"></div>
</div>