<h1>Editing News Item</h1>

<% form_for(@news_item) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @news_item %> |
<%= link_to 'Back', news_items_path %>