<% remote_form_for @job_listing, :before => "CKEDITOR.instances.job_listing_description.updateElement()" do |f| %>
    <div id="job_listing_errors" class="validation-errors">
        <%= f.error_messages %>
    </div>
    <%= f.hidden_field :business_id %>

    <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :listed_at %><br />
    <%= f.date_select :listed_at %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>