<div class="store-senj">
    <h5><%= basic_format(job_listing.listed_at) %></h5>
    <%= link_to_remote('Edit', :url => {:controller => 'job_listings', :action => 'edit', :id => job_listing}, :method => :get, :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(job_listing.business) %> <!-- <a href="#" class="store-print">Print</a> -->
    <%= link_to_remote(image_tag('cancel.png'), :url => {:controller => 'job_listings', :action => 'destroy', :id => job_listing}, :method => :delete, :confirm => 'Are you sure you want to delete this Job Listing?', :html => {:class => 'store-print admin-edit-link'}) if cms_enabled(job_listing.business) %>
    <h4><%= job_listing.title %></h4>
    <p><%= job_listing.description %></p>
    <div class="clear"></div>
</div>