<h1>Editing job_listing</h1>

<% form_for(@job_listing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :business_id %><br />
    <%= f.text_field :business_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :listed_at %><br />
    <%= f.datetime_select :listed_at %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @job_listing %> |
<%= link_to 'Back', job_listings_path %>