<h1>Listing job_listings</h1>

<table>
  <tr>
    <th>Business</th>
    <th>Description</th>
    <th>Enabled</th>
    <th>Listed at</th>
    <th>Title</th>
  </tr>

<% @job_listings.each do |job_listing| %>
  <tr>
    <td><%=h job_listing.business_id %></td>
    <td><%=h job_listing.description %></td>
    <td><%=h job_listing.enabled %></td>
    <td><%=h job_listing.listed_at %></td>
    <td><%=h job_listing.title %></td>
    <td><%= link_to 'Show', job_listing %></td>
    <td><%= link_to 'Edit', edit_job_listing_path(job_listing) %></td>
    <td><%= link_to 'Destroy', job_listing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job_listing', new_job_listing_path %>