<h1>New job_listing</h1>

<% form_for(@job_listing) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field :business_id %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :listed_at %><br />
    <%= f.datetime_select :listed_at %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', job_listings_path %>