<p>
  <b>Business:</b>
  <%=h @job_listing.business_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @job_listing.description %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @job_listing.enabled %>
</p>

<p>
  <b>Listed at:</b>
  <%=h @job_listing.listed_at %>
</p>

<p>
  <b>Title:</b>
  <%=h @job_listing.title %>
</p>


<%= link_to 'Edit', edit_job_listing_path(@job_listing) %> |
<%= link_to 'Back', job_listings_path %>