<h1 class="narrow-mall">Mall Information</h1>
<ul>
  <li <%= 'class="narrow-selected"' if controller.action_name == 'directory' %>><%= link_to 'Mall Directory', mall_directory_path %></li>
  <li <%= 'class="narrow-selected"' if (!page.nil? and page.slug.eql?('mall_hours')) %>><%= link_to 'Hours', mall_hours_path %></li>
  <li <%= 'class="narrow-selected"' if (!page.nil? and page.slug.eql?('location')) %>><%= link_to 'Location', mall_location_path %></li>
  <li <%= 'class="narrow-selected"' if (!page.nil? and page.slug.eql?('parking')) %>><%= link_to 'Parking', mall_parking_path %></li>
  <li <%= 'class="narrow-selected"' if controller.action_name == 'hotels_directory' %>><%= link_to 'Hotels', hotels_directory_path %></li>
  <li <%= 'class="narrow-selected"' if (!page.nil? and page.slug.eql?('area_links')) %>><%= link_to 'Area Links', mall_links_path %></li>
  <li <%= 'class="narrow-selected"' if (!page.nil? and page.slug.eql?('about')) %>><%= link_to 'About Us', mall_about_path %></li>
  <li <%= 'class="narrow-selected"' if (!page.nil? and page.slug.eql?('guest_services')) %>><%= link_to 'Guest Services', guest_services_path %></li>
  <li <%= 'class="narrow-selected"' if controller.action_name == 'media' %>><%= link_to 'Media', media_path %></li>
</ul>