<div class="modal">
    <h1>Edit User</h1>

    <% form_for @user, :url => {:controller => :mall, :action => :admin_create_user} do |f| %>
      <%= f.error_messages %>
      <%= f.label :email %><br />
        <%= f.text_field :email %><br />
        <br />
      <p>
        <%= f.label :business %><br />
       <%= f.collection_select :business_ids, Business.find(:all), 'id', 'name', {:prompt => true, :include_blank => true}, {:multiple => true} %>
      </p>

      <p>
        <%= f.label :roles %><br />
        <%= f.collection_select :role_ids, Role.find(:all, :conditions => ['name != ?', 'root'] ), 'id', 'name', { :prompt => true }, {:multiple => true} %>
      </p>

        <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
        <%= f.password_field :password %><br />
        <br />
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %><br />
      <%= f.submit "Update" %> <%= f.submit 'Cancel' %>
    <% end %>
</div>
