                <div id="main">
					<div class="wrapper">
						<div class="narrow">
							<%= render :partial => 'information_menu', :locals => {:page => nil} %>
						</div>
						<div id="entry" class="default"> <!-- default class is the main typography. -->
							<%= image_tag 'banner-visit.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Shop the Square for unique gifts and the latest fashion trends' %>
							<h2>Contact Us</h2>
							<div class="default-section">
                              <% form_for @contact, :url => {:controller => 'mall', :action => 'process_contact_us'}, :html => {:id => 'contact-us-form'} do |f| %>
                                <%= f.error_messages %>
                                <div class="field-row">
                                    <%= f.label :first_name, 'First Name' %>
                                    <%= f.text_field :first_name %>
                                </div>
                                <div class="field-row">
                                    <%= f.label :last_name, 'Last Name' %>
                                    <%= f.text_field :last_name %>
                                </div>
                                <div class="field-row">
                                    <%= f.label :email, 'Email Address' %>
                                    <%= f.text_field :email %>
                                </div>
                                <div class="field-row">
                                    <%= f.label :phone, 'Phone Number' %>
                                    <%= f.text_field :phone %>
                                </div>
                                <div class="field-row">
                                    <%= f.label :message, 'Message' %>
                                    <%= f.text_area :message %>
                                </div>
                                <div class="field-row">
                                    <%= f.label :newsletter, 'I would like to join your newsletter' %>
                                    <%= f.check_box :newsletter %>
                                </div>
                                <div id="submit-row" class="field-row">
                                    <%= f.submit 'Send' %>
                                </div>
                              <% end %>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div> <!-- /main -->