                <div id="main">
					<div class="wrapper">
						<div class="narrow">
							<%= render :partial => 'information_menu', :locals => {:page => nil} %>
						</div>
						<div id="entry" class="default"> <!-- default class is the main typography. -->
							<%= image_tag 'banner-visit.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Shop the Square for unique gifts and the latest fashion trends' %>
							<h2>Mall Directory</h2>
							<div class="default-col">
								<h4>First Floor</h4>
								<ul>
                                    <% for shop in @first_floor_shops %>
                                        <li><%= link_to "#{shop.suite} - #{shop.name}", business_detail_path_for_type(shop), :class => 'directory-link' %></li>
                                    <% end %>
								</ul>
							</div>
							<div class="default-large">
                                <%=  link_to image_tag('saus-map-1.jpg', :width => 480, :height => 320, :alt => 'First floor'), 'images/saus-map-1.jpg', :class => 'thickbox' %>
							</div>
							<div class="clear"></div>
							<div class="default-col">
								<h4>Second Floor</h4>
								<ul>
                                    <% for shop in @second_floor_shops %>
                                        <li><%= link_to "#{shop.suite} - #{shop.name}", business_detail_path_for_type(shop), :class => 'directory-link' %></li>
                                    <% end %>
								</ul>
							</div>
							<div class="default-large">
								<%=  link_to image_tag('saus-map-2.jpg', :width => 480, :height => 320, :alt => 'Second floor'), 'images/saus-map-2.jpg', :class => 'thickbox' %>
							</div>
							<div class="clear"></div>
							<div class="default-col">
								<h4>Third &amp; Fourth Floor</h4>
								<ul>
                                    <li><%= link_to "300 - U of M Rochester", 'http://www.r.umn.edu', :class => 'directory-link' %></li>
								</ul>
							</div>
							<div class="default-large">
								<%=  link_to image_tag('saus-map-more.jpg', :width => 480, :height => 320, :alt => 'More At the Square'), 'images/saus-map-more.jpg', :class => 'thickbox' %>
							</div>
							<div class="clear-left"></div>
							<div class="default-col">
								<h4>More at the Square</h4>
								<ul>
                                    <% for shop in @other_shops %>
                                        <li><%= link_to "#{shop.suite} - #{shop.name}", business_detail_path_for_type(shop), :class => 'directory-link' %></li>
                                    <% end %>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div> <!-- /main -->

                <script type="text/javascript">
                  $j(document).ready(function(){
                      $j('.thickbox').fancybox();
                  });
                </script>