                    <div id="tagline">Located in the heart of downtown Rochester, Minnesota</div>
                    <% if has_access('mall_admin') %>
                        <div class="contextual-admin-menu">
                            <ul>
                                <li><%= link_to 'Edit Gallery', edit_slideshow_path(@gallery) %></li>
                            </ul>
                        </div>
                    <% end %>
                    <div id="main" class="main-splash">
                        <% @gallery.slides.each do |slide| %>
                            <%= image_tag slide.doc.url, :width => 960, :height => 352, :alt => '' %>
                        <% end %>
                        <%#= image_tag 'saus-homepage-welcome2.jpg', :width => 960, :height => 352, :alt => '' %>
						<%#= image_tag 'saus-homepage-holidaycheer.jpg', :width => 960, :height => 352, :alt => '' %>
					</div> <!-- /main -->


<% content_for :options do %>
            <div id="options">
				<div class="wrapper">
					<ul>
						<li class="options-stores">
							<h4>Stores</h4>
							<p><%= link_to 'View all of the stores at the Shops at University Square.', shops_directory_path %></p>
                            <div class="options-click-target">
                                <%= link_to(image_tag('clear.gif'), shops_directory_path) %>
                            </div>
						</li>
						<li class="options-dining">
							<h4>Dining</h4>
							<p><%= link_to 'Hungry? View all of our delicious dining options.', dining_directory_path %></p>
                            <div class="options-click-target">
                                <%= link_to(image_tag('clear.gif'), dining_directory_path) %>
                            </div>
						</li>
						<li class="options-events">
							<h4>Events</h4>
							<p><%= link_to 'See what&#39;s going on and what&#39;s in-store for your next visit.', events_path %></p>
                            <div class="options-click-target">
                                <%= link_to(image_tag('clear.gif'), events_path) %>
                            </div>
						</li>
						<li class="options-visit">
							<h4>Visit</h4>
							<p><%= link_to 'Where we&#39;re at, how to get here and what&#39;s in the area.', mall_directory_path %></p>
                            <div class="options-click-target">
                                <%= link_to(image_tag('clear.gif'), mall_directory_path) %>
                            </div>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
			</div> <!-- /options -->
<% end %>