               <script type="text/javascript">
                 
               </script>

                <div id="main">
					<div class="wrapper">
						<div class="narrow">
							<%= render :partial => 'information_menu', :locals => {:page => nil} %>
						</div>
						<div id="entry" class="default"> <!-- default class is the main typography. -->
							<%= image_tag 'banner-visit.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Shop the Square for unique gifts and the latest fashion trends' %>
							<% if @galleries.size > 0 or has_access('mall_admin') %>
                            <h2>Media - Pictures</h2>
                            <div id="media-galleries-container">
                            <% if has_access('mall_admin') %>
                                <div id="galleries-admin-menu" class='contextual-admin-menu'><%= link_to 'Add Gallery', new_slideshow_path(:type => 'media'), :class => 'contextual-admin-menu-link' %></div>
                            <% end %>
                              <% if @galleries.size > 1 or has_access('mall_admin') %>
                                  <ul>
                                      <% @galleries.each_with_index do |gallery, i| %>
                                        <li <%= 'class="gallery-last"' if (i+1).modulo(3) == 0 %>>
                                            <%= link_to(image_tag(gallery.slides[0].doc.url(:thumbnail)), "#gallery_#{gallery.id}", :class => "gallery_#{gallery.id}_link") %>
                                            <h2><%= link_to gallery.name, "#gallery_#{gallery.id}", :class => "gallery_#{gallery.id}_link" %> <% if has_access('mall_admin') %><span class="admin-edit-small"><%= link_to 'edit', edit_slideshow_path(gallery), :class => 'admin-edit-small' %></span><% end %></h2>
                                            <div style="display: none;">
                                                <div id="<%= "gallery_#{gallery.id}" %>">
                                                  <% gallery.slides.each do |slide| %>
                                                    <%= image_tag slide.doc.url %>
                                                  <% end %>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                              $j('.<%= "gallery_#{gallery.id}_link" %>').fancybox({
                                                onStart: function (){
                                                    $j('#<%= "gallery_#{gallery.id}" %>').cycle();
                                                },

                                                onCleanup: function (){
                                                    $j('#<%= "gallery_#{gallery.id}" %>').cycle('stop');
                                                }
                                              });
                                            </script>
                                        </li>
                                      <% end %>
                                  </ul>
                               <% end %>

                               <% if @galleries.size.eql?(1) and !has_access('mall_admin') %>
                                    <div id="singular_gallery" style="display: none; margin-bottom: 40px;">
                                        <% @galleries.first().slides.each do |slide| %>
                                            <%= image_tag slide.doc.url %>
                                        <% end %>
                                    </div>
                                    <script type="text/javascript">
                                      $j(document).ready(function(){
                                        $j('#singular_gallery').cycle();
                                        $j('#singular_gallery').show();
                                      });
                                    </script>
                                  <div class="clear"></div>
                               <% end %>

                              <% if has_access('mall_admin') and !@disabled_galleries.empty? %>
                              <div class="clear"></div>
                                <h2>Disabled Galleries</h2>
                                    <ul>
                                      <% @disabled_galleries.each_with_index do |gallery, i| %>
                                        <li <%= 'class="gallery-last"' if (i+1).modulo(3) == 0 %> style="opacity: .5;">
                                            <%= link_to(image_tag(gallery.display_thumb), edit_slideshow_path(gallery) ) %>
                                            <h2><%= link_to gallery.name, edit_slideshow_path(gallery) %> <% if has_access('mall_admin') %><span class="admin-edit-small"><%= link_to 'edit', edit_slideshow_path(gallery), :class => 'admin-edit-small', :style => 'opacity: 1;' %></span><% end %></h2>
                                            <p>
                                              <% if gallery.slides.size == 0 %>
                                                Add Slides to display Gallery
                                              <% elsif gallery.enabled == false %>
                                                Gallery Enabled Flag is Off
                                              <% end %>
                                            </p>
                                        </li>
                                      <% end %>
                                    </ul>
                            <% end %>
                            </div>
                            <div class="clear"></div>
                            <% end %>
                            <% if @videos.size > 0 or has_access('mall_admin') %>
                                <h2>Media - Videos</h2>
                                <% if has_access('mall_admin') %>
                                    <div class='contextual-admin-menu'><%= link_to 'Add Video', new_video_path, :class => 'contextual-admin-menu-link' %></div>
                                <% end %>
                                <div class="media-list">
                                  <% if @videos.size > 1 or has_access('mall_admin') %>
                                      <ul>
                                        <% @videos.each_with_index do |video, i| %>
                                            <li <%= 'class="gallery-last"' if (i+1).modulo(3) == 0 %>>
                                                <%= link_to(image_tag(video.thumbnail_url), video.full_url, :class => "video_#{video.id}_link" ) %>
                                                <h2><%= link_to video.name, video.full_url, :class => "video_#{video.id}_link" %><% if has_access('mall_admin') %><span class="admin-edit-small"><%= link_to 'edit', edit_video_path(video), :class => 'admin-edit-small' %></span><% end %></h2>

                                              <script type="text/javascript">

                                                $j('<%= ".video_#{video.id}_link" %>').click(function(){
                                                    $j.fancybox({
                                                                'padding'		: 0,
                                                                'autoScale'		: false,
                                                                'transitionIn'	: 'none',
                                                                'transitionOut'	: 'none',
                                                                'title'			: this.title,
                                                                'width'		: 712,
                                                                'height'		: 425,
                                                                'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
                                                                'type'			: 'swf',
                                                                'swf'			: {
                                                                        'wmode'		: 'transparent',
                                                                    'allowfullscreen'	: 'true'
                                                                }
                                                            });

                                                        return false;

                                                });

                                                //$j('<%= ".video_#{video.id}_link" %>').fancybox({
                                                    //width: 712,
                                                    //height: 425,

                                                    //onStart: function(){
                                                        //loadNewVideo('<%= video.token %>', 0);
                                                        //loadNewVideo('<%= video.token %>', 0);
                                                        //swfobject.embedSWF('http://www.youtube.com/v/<%= video.token %>?enablejsapi=1&playerapiid=ytplayer', 'saus_video_replace', '712', '425', '8', null, null, { allowScriptAccess: 'always'}, { id: 'myytplayer' });
                                                    //},

                                                    //onComplete: function() {
                                                        //player = document.getElementById('myytplayer');
                                                        //player.addEventListener("onStateChange", "onytplayerStateChange");
                                                        //player.playVideo();
                                                    //    loadNewVideo('<%= video.token %>', 0);
                                                    //}
                                                //});
                                            </script>
                                            </li>
                                        <% end %>
                                      </ul>
                                  <% end %>
                                  <% if @videos.size.eql?(1) and !has_access('mall_admin') %>
                                      <div id="ytplayer_placeholder"></div>
                                      <script type="text/javascript">
                                           swfobject.embedSWF('http://www.youtube.com/v/<%= @videos.first().token %>?enablejsapi=1&playerapiid=ytplayer', 'ytplayer_placeholder', '712', '425', '8', null, null, { allowScriptAccess: 'always'}, { id: 'myytplayer' });  
                                      </script>
                                  <% end %>
                                  <% if has_access('mall_admin') and !@disabled_videos.empty? %>
                                    <div class="clear"></div>
                                    <h2>Disabled Videos</h2>
                                        <ul>
                                          <% @disabled_videos.each_with_index do |video, i| %>
                                            <li <%= 'class="gallery-last"' if (i+1).modulo(3) == 0 %> style="opacity: .5;">
                                                <%= link_to(image_tag(video.thumbnail_url), edit_video_path(video) ) %>
                                                <h2><%= link_to video.name, edit_video_path(video) %> <% if has_access('mall_admin') %><span class="admin-edit-small"><%= link_to 'edit', edit_video_path(video), :class => 'admin-edit-small', :style => 'opacity: 1;' %></span><% end %></h2>
                                                <p>
                                                  <% if video.published == false %>
                                                    Video Published Flag is Off
                                                  <% end %>
                                                </p>
                                            </li>
                                          <% end %>
                                        </ul>
                                <% end %>
                                </div>
                            <% end %>
						</div>
						<div class="clear"></div>
					</div>
				</div> <!-- /main -->

               <script type="text/javascript">
                 /*var ytplayer = null;

                function onYouTubePlayerReady(playerId) {
                    ytplayer = document.getElementById('myytplayer');
                }


                function loadNewVideo(id, startSeconds) {
                    if (ytplayer) {
                        ytplayer.loadVideoById(id, startSeconds);
                    }
                }

                 $j(document).ready(function(){
                     //'http://www.youtube.com/v/<%#= video.token %>?enablejsapi=1&playerapiid=ytplayer'
                     swfobject.embedSWF('http://www.youtube.com/apiplayer?enablejsapi=1&playerapiid=ytplayer', 'saus_video_replace', '712', '425', '8', null, null, { allowScriptAccess: 'always'}, { id: 'myytplayer' });
                     //swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&playerapiid=ytplayer", "ytapiplayer", "400", "300", "8", null, null, params, atts);
                 }); */

               </script>