                <div id="main">
					<div class="wrapper">
						<div class="narrow">
							<%= render :partial => 'information_menu', :locals => {:page => nil} %>
						</div>
						<div id="entry" class="default"> <!-- default class is the main typography. -->
							<%= image_tag 'banner-visit.jpg', :class => 'stores-banner', :width => 712, :height => 65, :alt => 'Shop the Square for unique gifts and the latest fashion trends' %>
							<h2>Thank you for contacting us!</h2>
							<p>Your message has successfully been processed! Thank you for taking time to help us serve you better!</p>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div> <!-- /main -->