<div class="cms-page">
<%= link_to 'The Shops at University Square', root_url %>

<h3>About Us</h3>
<%= link_to 'The Shops at University Square | About Us', mall_about_url %>

<h3>Contact Us</h3>
<%= link_to 'The Shops at University Square | Contact Us', mall_about_url %>

<h3>Dining</h3>
<ul>
  <li><%= link_to 'The Shops at University Square | Dining', dining_directory_url %></li>
  <% for restaurant in @restaurants %>
    <li><%= link_to "The Shops at University Square | #{restaurant.name}", business_detail_url_for_type(restaurant) %></li>
  <% end %>
</ul>

<h3>Directions</h3>
<%= link_to 'TODO The Shops at University Square | Directions', '#' %>

<h3>Directory</h3>
<%= link_to 'The Shops at University Square | Directory', mall_directory_url %>

<h3>Events</h3>
<%= link_to 'The Shops at University Square | Events', events_url %>

<h3>Shopping</h3>
<ul>
<li><%= link_to 'The Shops at University Square | Shopping', shops_directory_url %></li>
  <% for shop in @shops %>
    <li><%= link_to "The Shops at University Square | #{shop.name}", business_detail_url_for_type(shop) %></li>
  <% end %>
</ul>
</div>