<div class="modal">
  <h2>Manage Users</h2>
  <table>
    <thead>
        <tr>
          <th>User Login</th>
          <th>Shop</th>
          <th>Last Access</th>
          <th>Failed Logins</th>
          <th>Number Of Logins</th>
          <th>Roles</th>
          <th>Enabled</th>
          <th>Actions</th>
        </tr>
    </thead>
    <% @users.each do |user| %>
        <% if not user.has_role('root') %>
            <tr class="<%= cycle('even', 'odd') %>">
              <td><%= user.email %></td>
              <td>
                <% user.businesses.each do |business| %>
                    <%= "#{business.name}, "  %>
                <% end %>
              </td>
              <td><%= (user.last_request_at.nil?) ? '-' : user.last_request_at.strftime('%b %d, %y %I:%M %p') %></td>
              <td><%= user.failed_login_count %></td>
              <td><%= user.login_count %></td>
              <td><% user.roles.each do |role| %> <%= role.display %> <% end %></td>
              <td style="text-align: center;"><%= image_tag 'accept.png' if user.enabled %></td>
              <td><%= link_to 'edit', :controller => 'mall', :action => 'admin_edit_user', :id => user.id %></td>
            </tr>
        <% end %>
    <% end %>
        <tfoot>
            <tr>
              <td colspan="8" style="text-align: right;"><%= link_to 'add user', :controller => 'mall', :action => 'admin_new_user' %></td>
            </tr>
        </tfoot>
  </table>
</div>
