<% remote_form_for @business, :url => { :controller => 'categories', :action => 'update_business_categories', :business_id => @business } do |f| %>
    <ul class="no_bullet">
        <% for category in @available_categories %>
            <li>
                 <%= check_box_tag "business[category_ids][]", "#{category.id}", @business.categories.include?(category) %>
                 <%= "#{category.name}" -%>
            </li>
        <% end %>
    </ul>
    <%= f.submit 'Update' %>
<% end %>