<html>
    <head>
      <%= stylesheet_link_tag 'reset', 'coupon', :cache => 'cache/coupon_css_all' %>
      <%= javascript_include_tag 'jquery-1.4.2.min.js' %>

      <script type="text/javascript">
        $(document).ready(function(){
            print();    
        });
      </script>
    </head>
    <body id="coupon">
        <%= image_tag 'coupon-header.jpg'  %>
        <%= @content_for_layout %>
        <%= image_tag 'coupon-footer.jpg'  %>
    </body>
</html>