<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><%= @meta_title %></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="" />
		<meta name="keywords" content="<%= @meta_keywords %>" />
		<meta name="copyright" content="<%= Date.today.year %> Shops at University Square" />
		<meta name="description" content="<%= @meta_description %>" />
        <%= stylesheet_link_tag 'reset', 'style', 'thickbox', 'modalbox', 'jquery.fancybox-1.3.4.css', :cache => 'cache/css_all' %>
		<!--[if lt IE 7]>
		<%= stylesheet_link_tag 'ie' %>
        <script type="text/javascript">
            var clear = "/images/clear.gif"; //path to clear.gif
        </script>
        <%= javascript_include_tag 'unitpngfix' %>
        <![endif]-->
        <% if not current_user.nil? %>
		    <%= stylesheet_link_tag 'admin' %>
		<% end %>
        <%= javascript_include_tag :defaults, :cache => 'cache/prototype_all' %>
        <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery.cycle.min', 'jquery.fancybox-1.3.4.js', 'swfobject', 'global',  :cache => 'cache/jquery_all' %>

        <%= @content_for_head %>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19051399-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</head>
	<body id="<%= "#{controller.controller_name}_#{controller.action_name}" %>">
        <%# TODO check a login %>
            <ul id="msg_stack">
              <% if not current_user.nil? %>
                <li>
                  <div id="admin_menu">
                       <ul>
                         <% if has_access('mall_admin') %>
                            <li><strong>Mall Options:</strong></li>
                            <li class="bordered-element"><%= link_to 'Manage Users', admin_users_index_path %></li>
                            <li class="bordered-element"><%= link_to 'Manage Shops', admin_business_index_path %></li>
                            <!-- <li class="bordered-element"><%= link_to 'Manage Banners', banner_index_path %></li> -->
                         <% end %>
                         <% if has_access('store_admin') and current_user.businesses.size() > 0 %>
                            <li><strong>Edit Store:</strong></li>
                             <% current_user.businesses.each do |business| %>
                                <li><%= link_to business.name, business_detail_path_for_type(business) %></li>
                             <% end %>
                         <% end %>
                         <% if has_access('mailing_list_manager') or has_access('mall_admin') %>
                            <li class="bordered-element"><%= link_to 'Export Mailing List', export_mailing_list_path %></li>
                         <% end %>
                       </ul>

                        <ul id="account-menu">
                            <li><strong>Logged in as:</strong> <%= current_user.email %></li>
                            <li class="bordered-element"><%= link_to 'My Profile', :controller => :users, :action => :edit %></li>
                            <li class="bordered-element"><%= link_to 'Logout', logout_path %></li>
                        </ul>
                    </div>
                </li>
              <% end %>
              <li id="flash_success" class="flash" <%= "style='display: none;'" unless flash[:success] %>><%= image_tag 'accept.png' %> <span id='success_msg_handle'><%= flash[:success] %></span></li>
              <li id="flash_notice" class="flash" <%= "style='display: none;'" unless flash[:notice] %>><%= image_tag 'error.png' %> <span id='notice_msg_handle'><%= flash[:notice] %></span></li>
              <li id="flash_error" class="flash" <%= "style='display: none;'" unless flash[:error] %>><%= image_tag 'exclamation.png' %> <span id='error_msg_handle'><%= flash[:error] %></span></li>
            </ul>
		<div id="container">
			<div id="skip">
				<a href="#main">Skip to main content</a>
			</div> <!-- /skip -->
			<div class="wrapper"> <!-- Used anytime a 960px width is needed. -->
				<div id="header">
					<%= link_to( image_tag( 'logo.png', :class => 'header-logo', :width => 116, :height => 116,  :alt => 'Shops at University Square'), mall_home_path) %>
					<div class="header-info">
                      <h3>Today&#39;s Mall Hours</h3>
                        <p><%= business_hours %></p>
                        <ul>
                            <li><%= link_to 'See All Hours', mall_hours_path %></li>
                            <li><%= link_to 'Mall Directory', mall_directory_path %></li>
                        </ul>
					</div>
					<h2>Where Downtown Comes To Life</h2>
					<div class="clear-right"></div>
					<div id="search">
						<form action="/search" method="get">
							<input type="text" name="terms" class="text" value="<%= (params[:terms].nil?) ? 'Search the mall...' : params[:terms] %>" />
                            <%= image_submit_tag 'search.gif' %>
						</form>
					</div>
					<div id="nav">
						<ul>
                            <%# TODO this could be done using the body id && li id %>
							<li <%= 'class="nav-active"' if (controller.controller_name == 'mall' && controller.action_name == 'index') %>>
                                <%= link_to 'Home', mall_home_path, :class => 'nav-home'%>
                            </li>
							<li <%= 'class="nav-active"' if (controller.action_name == 'shops_directory') %>>
                              <%= link_to 'Stores', shops_directory_path, :class => 'nav-stores'%>
                            </li>
							<li <%= 'class="nav-active"' if controller.action_name == 'dining_directory' %>>
                              <%= link_to 'Dining', dining_directory_path, :class => 'nav-dining' %>
                            </li>
							<li <%= 'class="nav-active"' if controller.controller_name == 'events' && controller.action_name == 'index' %>>
                              <%= link_to 'Sales &amp; Events', events_path, :class => 'nav-sales' %>
                            </li>
							<li <%= 'class="nav-active"' if controller.controller_name == 'mall' && controller.action_name == 'directory' %>>
                              <%= link_to 'Visit', mall_directory_path, :class => 'nav-visit' %>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
				</div> <!-- /header -->
                
				<div id="content">
					<%= @content_for_layout %>
				</div> <!-- /content -->
			</div>
			<div id="mailing">
				<div class="wrapper">
					<h2>Get Connected! Stay up to date with the shops at University Square.</h2>
					<% form_remote_tag :url => subscribe_to_mailing_list_path do %>
						<%= image_tag 'envelope.png', :width => 43, :height => 34, :alt => "" %>
						<input type="text" class="text" name="address" value="Join our email list here..." />
						<%= image_submit_tag 'signup.gif' %>
					<% end %>
					<div class="clear"></div>
				</div>
			</div> <!-- /mailing -->
            <%= @content_for_options %>

			<div id="boxes">
				<div class="wrapper">
					<ul>
						<li class="boxes-downtown">
                            <%= link_to 'edit', edit_promo_path(:slug => @promo_one.slug), :class => 'admin-edit-link' if has_access('mall_admin') %>
                            <h3><%= @promo_one.title.upcase %></h3>
							<%= image_tag @promo_one.promo_image.doc.url, :width => 113, :height => 111, :alt => 'Buildings at University Square' if not @promo_one.promo_image.nil?%>
							<p><%= @promo_one.description %></p>
							<p><%= link_to 'Learn More', @promo_one.uri, :class => 'boxes-more', :target => '_blank' %></p>
							<div class="clear"></div>
						</li>
						<li class="boxes-parking">
                            <%= link_to 'edit', edit_promo_path(:slug => @promo_two.slug), :class => 'admin-edit-link' if has_access('mall_admin') %>
							<h3><%= @promo_two.title.upcase %></h3>
                            <%= image_tag @promo_two.promo_image.doc.url, :width => 116, :height => 117, :alt => 'Parking ramp at night' if not @promo_two.promo_image.nil? %>
							<p><%= @promo_two.description %></p>
							<p><%= link_to 'Learn More', @promo_two.uri, :class => 'boxes-more' %></p>
							<div class="clear"></div>
						</li>
						<li class="boxes-weekend boxes-last">
                            <%= link_to 'edit', edit_promo_path(:slug => @promo_three.slug), :class => 'admin-edit-link' if has_access('mall_admin') %>
							<h3><%= @promo_three.title.upcase %></h3>
                            <%= image_tag @promo_three.promo_image.doc.url, :width => 115, :height => 116, :alt => 'Inside of a hotel room' if not @promo_three.promo_image.nil? %>
							<p><%= @promo_three.description %></p>
							<p><%= link_to 'Learn More', @promo_three.uri, :class => 'boxes-more' %></p>
							<div class="clear"></div>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>
<% cache('global_footer') do %>
			<div id="footer">
				<div class="wrapper">
                    <p id="footer-blurb">
                       The Shops at University Square is conveniently located at:
                       111 Broadway Avenue South, Rochester, MN 55904
                       in the heart of downtown just a block from the Mayo Clinic.
                    </p>
                    <p id="add-this-footer"><a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&pub=xa-4af0716c5a353c5a"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4af0716c5a353c5a"></script></p>
					<ul>
						<% if show_cms_link?('tos') %><li><%= link_to 'Terms of Use', cms_page_path(:slug => 'tos') %></li><% end %>
						<% if show_cms_link?('privacy') %><li><%= link_to 'Privacy Policy', privacy_path %></li><% end %>
						<li><%= link_to 'Contact Us', mall_contact_path %></li>
						<% if show_cms_link?('press') %><li><%= link_to 'Press &amp; Media Relations', press_path %></li><% end %>
						<li><%= link_to 'For Merchants', login_path %></li>
                        <li class="footer-last"><%= link_to 'Sitemap', mall_sitemap_path(:format => 'html') %></li>
					</ul>
                    <br/>
                    <p class="footer-copy">&copy; <%= Date.today.year %> Shops at University Square.</p>
                    <br />
					<p class="footer-design"><a href="http://www.westwerkdesign.com/">site by westwerk dsgn</a></p>
				</div>
			</div>
		</div> 
	</body>
</html>
<%# end global_footer cache %>
<% end %>
